@font-face {
  font-family: "CircularStd";
  font-display: auto;
  src: local("CircularStd"),
    url(fonts/CircularStd/CircularStd-Medium.woff) format("woff");
}

@font-face {
  font-family: "CircularStd";
  font-display: auto;
  font-weight: 200;
  src: local("CircularStd"),
    url(fonts/CircularStd/CircularStd-Light.woff) format("woff");
}

@font-face {
  font-family: "CircularStd";
  font-display: auto;
  font-weight: 300;
  src: local("CircularStd"),
    url(fonts/CircularStd/CircularStd-Book.woff) format("woff");
}

@font-face {
  font-family: "CircularStd";
  font-display: auto;
  font-weight: 500;
  src: local("CircularStd"),
    url(fonts/CircularStd/CircularStd-Bold.woff) format("woff");
}

@font-face {
  font-family: "CircularStd";
  font-display: auto;
  font-weight: 600;
  src: local("CircularStd"),
    url(fonts/CircularStd/CircularStd-Black.woff) format("woff");
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url(fonts/CircularStd/slick/slick.eot);
  src: url(fonts/CircularStd/slick/slick.eot?#iefix) format("embedded-opentype"),
    url(fonts/CircularStd/slick/slick.woff) format("woff"),
    url(fonts/CircularStd/slick/slick.ttf) format("truetype"),
    url(fonts/CircularStd/slick/slick.svg#slick) format("svg");
}

body {
  margin: 0;
  background-color: #030616;
}

.lds-dual-ring-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* font Nudista
*/

@font-face {
  font-family: "Nudista";
  src: url(fonts/Nudista/NudistaThin.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Nudista";
  src: url(fonts/Nudista/NudistaThin-Italic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Nudista";
  src: url(fonts/Nudista/NudistaLight.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nudista";
  src: url(fonts/Nudista/NudistaLight-Italic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nudista";
  src: url(fonts/Nudista/Nudista.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nudista";
  src: url(fonts/Nudista/Nudista-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Nudista";
  src: url(fonts/Nudista/NudistaSemiBold.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nudista";
  src: url(fonts/Nudista/NudistaSemiBold-Italic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Nudista";
  src: url(fonts/Nudista/Nudista-Bold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nudista";
  src: url(fonts/Nudista/Nudista-BoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}
